"*":
  autosave:
    enabled: true
  core:
    customFileTypes:
      "source.ini": [
        ".hgrc"
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
      "linter"
    ]
    telemetryConsent: "limited"
  editor:
    scrollPastEnd: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "8b2b5b2c-9169-46c2-9669-3df75ec888f6"
  nuclide:
    "atom-ide-diagnostics-ui":
      autoVisibility: true
    hyperclick:
      darwinTriggerKeys: "ctrlKey,altKey,metaKey"
    "nuclide-flow":
      pathToFlow: "/Users/jared/fl/node_modules/.bin/flow"
    "nuclide-home":
      showHome: false
    use:
      "atom-ide-busy-signal": "default"
      "atom-ide-code-actions": "default"
      "atom-ide-code-format": "default"
      "atom-ide-code-highlight": "default"
      "atom-ide-console": "default"
      "atom-ide-datatip": "default"
      "atom-ide-debugger": "default"
      "atom-ide-definitions": "default"
      "atom-ide-diagnostics": "default"
      "atom-ide-diagnostics-ui": "default"
      "atom-ide-find-references": "default"
      "atom-ide-global": "default"
      "atom-ide-outline-view": "default"
      "atom-ide-signature-help": "default"
      hyperclick: "default"
      "nuclide-adb-logcat": "default"
      "nuclide-adb-sdb": "default"
      "nuclide-atom-notifications": "default"
      "nuclide-autocomplete": "default"
      "nuclide-blame": "default"
      "nuclide-blame-provider-hg": "default"
      "nuclide-bookshelf": "default"
      "nuclide-buck": "default"
      "nuclide-buck-ios": "default"
      "nuclide-clang": "default"
      "nuclide-clipboard-path": "default"
      "nuclide-code-search": "default"
      "nuclide-context-view": "default"
      "nuclide-cquery-lsp": "default"
      "nuclide-ctags": "default"
      "nuclide-current-working-directory": "default"
      "nuclide-debugger-java": "default"
      "nuclide-debugger-native": "default"
      "nuclide-debugger-php": "default"
      "nuclide-debugger-vsp": "default"
      "nuclide-deep-link": "default"
      "nuclide-definition-preview": "default"
      "nuclide-definition-preview-provider": "default"
      "nuclide-deprecation-cop": "default"
      "nuclide-device-panel": "default"
      "nuclide-device-panel-android": "default"
      "nuclide-device-panel-ios": "default"
      "nuclide-device-panel-tizen": "default"
      "nuclide-diagnostics-extras": "default"
      "nuclide-distraction-free-mode": "default"
      "nuclide-file-family": "default"
      "nuclide-file-family-projectionist": "default"
      "nuclide-file-tree": "default"
      "nuclide-file-watcher": "default"
      "nuclide-flow": "default"
      "nuclide-fuzzy-filename-provider": "default"
      "nuclide-graphql": "default"
      "nuclide-hack": "default"
      "nuclide-health": "default"
      "nuclide-hg-repository": "default"
      "nuclide-hhvm": "default"
      "nuclide-home": "default"
      "nuclide-http-request-sender": "default"
      "nuclide-infer-al": "default"
      "nuclide-ios-simulator-logs": "default"
      "nuclide-js-imports-client": "default"
      "nuclide-json": "default"
      "nuclide-key-binding-hint-status": "default"
      "nuclide-language-hack": "default"
      "nuclide-language-infer-al": "default"
      "nuclide-language-reason": "default"
      "nuclide-metro": "default"
      "nuclide-move-item-to-available-pane": "default"
      "nuclide-navigation-stack": "default"
      "nuclide-navigation-stack-status-bar": "default"
      "nuclide-notifications": "default"
      "nuclide-nux": "default"
      "nuclide-objc": "default"
      "nuclide-ocaml": "default"
      "nuclide-open-filenames-provider": "default"
      "nuclide-outline-view-extras": "default"
      "nuclide-project": "default"
      "nuclide-python": "default"
      "nuclide-quick-open": "default"
      "nuclide-react-inspector": "default"
      "nuclide-recent-files-provider": "default"
      "nuclide-recent-files-service": "default"
      "nuclide-refactorizer": "default"
      "nuclide-related-files": "default"
      "nuclide-remote-atom": "default"
      "nuclide-remote-projects": "default"
      "nuclide-settings": "default"
      "nuclide-ssh-tunnel": "default"
      "nuclide-swift": "default"
      "nuclide-syntactic-selection": "default"
      "nuclide-task-runner": "default"
      "nuclide-terminal": "default"
      "nuclide-test-runner": "default"
      "nuclide-type-coverage": "default"
      "nuclide-type-hint": "default"
      "nuclide-ui": "default"
      "nuclide-unicode-datatip": "default"
      "nuclide-url-hyperclick": "default"
      "nuclide-vcs-log": "default"
      "nuclide-working-sets": "default"
  "spell-check":
    addKnownWords: true
    knownWords: [
      "labours"
      "teacheth"
      "lighteth"
      "followeth"
      "shineth"
      "requirings"
      "maketh"
      "causeth"
      "restraineth"
      "endeavour"
      "endeavours"
      "favour"
      "laboured"
      "harbour"
      "favoured"
      "travelling"
      "honour"
      "endeavouring"
      "favours"
      "Barbadoes"
      "colours"
      "dishonour"
      "labourer"
      "thereaway"
      "knoweth"
      "labouring"
      "neighbourhood"
      "fainteth"
      "labourers"
      "honourable"
      "standeth"
      "thinketh"
      "endeavoured"
      "honoured"
      "fervour"
      "lustre"
      "savour"
      "unfavourable"
      "consisteth"
      "possesseth"
      "honours"
      "favourably"
      "favourable"
      "neighbours"
      "convincement"
      "neighbour"
      "neighbouring"
      "viz"
      "honourably"
      "Mountmelick"
      "practise"
      "demeanour"
      "renewedly"
      "dishonourable"
      "Saviour"
      "defence"
      "ordereth"
      "enamoured"
      "ardour"
      "burneth"
      "Belial"
      "apostacy"
      "pretences"
      "practising"
      "backslidings"
      "besetments"
      "divertisements"
      "savingly"
      "withdrawings"
      "sheddings"
      "flowings"
      "steppings"
      "stayedness"
      "practised"
      "conceivings"
      "tribulated"
      "begettings"
      "Emlen"
      "Woolman"
      "sceptre"
      "shuttings"
      "ownings"
      "in-shinings"
      "extendings"
      "shinings"
      "disputings"
      "replenishings"
      "tossings"
      "unslumbering"
      "provings"
      "unwatchfulness"
      "springings"
      "groanings"
      "unsanctified"
      "bowings"
      "meltings"
      "shouldst"
      "enjoyest"
      "willeth"
      "showeth"
      "setteth"
      "witnesseth"
      "waxeth"
      "behaviour"
      "offence"
      "draweth"
      "preserveth"
      "pointings"
    ]
  welcome:
    showOnStartup: false
".html.php.text":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-…$"
    tabLength: 4
".reason.source":
  editor:
    preferredLineLength: 100
"autocomplete-plus":
  includeCompletionsFromAllBuffers: false
  minimumWordLength: 4
  useCoreMovementCommands: false
core:
  customFileTypes:
    "source.ini": [
      ".hgrc"
      ".buckconfig"
      ".flowconfig"
    ]
    "source.json": [
      "BUCK.autodeps"
    ]
    "source.python": [
      "BUCK"
    ]
    "text.html.php": [
      "php"
    ]
  destroyEmptyPanes: false
  disabledPackages: [
    "tree-view"
    "linter"
  ]
  docblockr:
    align_tags: "no"
    param_description: false
    return_description: false
    spacer_between_sections: "after_description"
  telemetryConsent: "limited"
editor:
  softWrap: true
"exception-reporting":
  userId: "cceb9ed4-561b-4061-9cc3-c0e17b1b137b"
nuclide:
  hyperclick:
    darwinTriggerKeys: "ctrlKey,altKey,metaKey"
  "nuclide-flow":
    pathToFlow: "/Users/jared/fl/node_modules/.bin/flow"
  "nuclide-home":
    showHome: false
"spell-check":
  addKnownWords: true
  knownWords: [
    "believeth"
    "honour"
    "honouring"
    "offence"
    "dishonours"
    "abideth"
    "neighbours"
    "practise"
    "laboured"
    "behaviour"
    "favourer"
    "defence"
    "neighbour"
    "pretence"
    "sceptre"
    "labouring"
    "clamour"
    "favour"
    "overcometh"
    "savour"
    "Saviour"
    "standeth"
    "bruiseth"
    "dishonour"
    "travelling"
    "savoury"
    "beareth"
    "fulfils"
    "unsanctified"
    "unsavoury"
    "teacheth"
    "labourer"
    "endeavouring"
    "Gracechurch"
    "endeavours"
    "unwatchfulness"
    "endeavour"
    "commandeth"
    "endureth"
    "envieth"
    "soweth"
    "careth"
    "resteth"
    "doeth"
    "worketh"
    "hateth"
    "gavest"
    "edifieth"
    "reconcileth"
    "thereaway"
    "exhorteth"
    "showeth"
    "ruleth"
    "lieth"
    "speaketh"
    "receiveth"
    "falleth"
    "worshippeth"
    "cleanseth"
    "resisteth"
    "practised"
    "gathereth"
    "endeavoured"
    "janglings"
    "disputings"
    "savoured"
    "labours"
    "becometh"
    "succourer"
    "destroyeth"
    "fulfilleth"
    "knoweth"
    "sawest"
    "calleth"
    "sufferest"
    "saidst"
    "stilleth"
    "maketh"
    "crowneth"
    "thinketh"
    "changeth"
    "filleth"
    "reigneth"
    "eateth"
    "drinketh"
    "dwelleth"
    "sepulchres"
    "poureth"
    "killest"
    "stonest"
    "searcheth"
    "repenteth"
    "climbeth"
    "entereth"
    "remaineth"
    "loveth"
    "presseth"
    "openeth"
    "heareth"
    "Believest"
    "dieth"
    "persecutest"
    "setteth"
    "Barbadoes"
    "neighbourhood"
    "bringeth"
    "killeth"
    "armour"
    "followeth"
    "lighteth"
    "speakest"
    "honoured"
    "Burrough"
    "Hubberthorn"
    "appeareth"
    "labourers"
    "quickeneth"
    "profiteth"
    "favoured"
    "demeanour"
    "favourable"
    "offences"
    "favours"
    "seest"
    "knowest"
    "marvellous"
    "renewings"
    "convincement"
    "visitest"
    "Balaam"
    "coloured"
    "viz"
    "colour"
    "wilful"
    "renewedly"
    "seemeth"
    "descendings"
    "neighbouring"
    "travellers"
    "parlour"
    "shutteth"
    "colours"
    "extendings"
    "hereaway"
    "givest"
    "splendour"
    "fulfil"
    "burneth"
    "comforteth"
    "seeketh"
    "laboureth"
    "languisheth"
    "fainteth"
    "preferreth"
    "prayeth"
    "callest"
    "unfavourable"
    "lustre"
    "requirings"
    "judgeth"
    "kindleth"
    "enableth"
    "meaneth"
    "apostacy"
    "aboundings"
    "regardest"
    "doubtings"
    "unslumbering"
    "putteth"
    "harbour"
    "looketh"
    "faileth"
    "delighteth"
    "turneth"
    "unremitted"
    "provings"
    "consisteth"
    "possesseth"
    "puttings"
    "honours"
    "abasedness"
    "besetments"
    "honourable"
    "groweth"
    "unfoldings"
    "shouldst"
    "neighbourhoods"
    "leadeth"
    "Seekest"
    "flowings"
    "waiteth"
    "continueth"
    "permitteth"
    "fervour"
    "neighbour's"
    "contrited"
    "dishonoured"
    "submittest"
    "resignest"
    "draweth"
    "bloweth"
    "listeth"
    "sitteth"
    "contriting"
    "conceivings"
    "begettings"
  ]
welcome:
  showOnStartup: false
