"*":
  autosave:
    enabled: true
  core:
    customFileTypes:
      "source.ini": [
        ".hgrc"
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
      "linter"
      "prettier-atom"
    ]
    telemetryConsent: "limited"
  editor:
    scrollPastEnd: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "8b2b5b2c-9169-46c2-9669-3df75ec888f6"
  nuclide:
    "atom-ide-diagnostics-ui":
      autoVisibility: true
    hyperclick:
      darwinTriggerKeys: "ctrlKey,altKey,metaKey"
    "nuclide-flow":
      pathToFlow: "/Users/jared/fl/node_modules/.bin/flow"
    "nuclide-home":
      showHome: false
    use: {}
  "prettier-atom":
    formatOnSaveOptions: {}
  "spell-check":
    addKnownWords: true
    knownWords: [
      "labours"
      "teacheth"
      "lighteth"
      "followeth"
      "shineth"
      "requirings"
      "maketh"
      "causeth"
      "restraineth"
      "endeavour"
      "endeavours"
      "favour"
      "laboured"
      "harbour"
      "favoured"
      "travelling"
      "honour"
      "endeavouring"
      "favours"
      "Barbadoes"
      "colours"
      "dishonour"
      "labourer"
      "thereaway"
      "knoweth"
      "labouring"
      "neighbourhood"
      "fainteth"
      "labourers"
      "honourable"
      "standeth"
      "thinketh"
      "endeavoured"
      "honoured"
      "fervour"
      "lustre"
      "savour"
      "unfavourable"
      "consisteth"
      "possesseth"
      "honours"
      "favourably"
      "favourable"
      "neighbours"
      "convincement"
      "neighbour"
      "neighbouring"
      "viz"
      "honourably"
      "Mountmelick"
      "practise"
      "demeanour"
      "renewedly"
      "dishonourable"
      "Saviour"
      "defence"
      "ordereth"
      "enamoured"
      "ardour"
      "burneth"
      "Belial"
      "apostacy"
      "pretences"
      "practising"
      "backslidings"
      "besetments"
      "divertisements"
      "savingly"
      "withdrawings"
      "sheddings"
      "flowings"
      "steppings"
      "stayedness"
      "practised"
      "conceivings"
      "tribulated"
      "begettings"
      "Emlen"
      "Woolman"
      "sceptre"
      "shuttings"
      "ownings"
      "in-shinings"
      "extendings"
      "shinings"
      "disputings"
      "replenishings"
      "tossings"
      "unslumbering"
      "provings"
      "unwatchfulness"
      "springings"
      "groanings"
      "unsanctified"
      "bowings"
      "meltings"
      "shouldst"
      "enjoyest"
      "willeth"
      "showeth"
      "setteth"
      "witnesseth"
      "waxeth"
      "behaviour"
      "offence"
      "draweth"
      "preserveth"
      "pointings"
      "speaketh"
      "faileth"
      "rideth"
      "seeketh"
      "layeth"
      "mightest"
      "requireth"
      "cleanseth"
      "doeth"
      "hateth"
      "searcheth"
      "honouring"
      "helpeth"
      "sitteth"
      "forsaketh"
    ]
  welcome:
    showOnStartup: false
".html.php.text":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-…$"
    tabLength: 4
".reason.source":
  editor:
    preferredLineLength: 100
"autocomplete-plus":
  includeCompletionsFromAllBuffers: false
  minimumWordLength: 4
  useCoreMovementCommands: false
core:
  customFileTypes:
    "source.ini": [
      ".hgrc"
      ".buckconfig"
      ".flowconfig"
    ]
    "source.json": [
      "BUCK.autodeps"
    ]
    "source.python": [
      "BUCK"
    ]
    "text.html.php": [
      "php"
    ]
  destroyEmptyPanes: false
  disabledPackages: [
    "tree-view"
    "linter"
  ]
  docblockr:
    align_tags: "no"
    param_description: false
    return_description: false
    spacer_between_sections: "after_description"
  telemetryConsent: "limited"
editor:
  softWrap: true
"exception-reporting":
  userId: "cceb9ed4-561b-4061-9cc3-c0e17b1b137b"
nuclide:
  hyperclick:
    darwinTriggerKeys: "ctrlKey,altKey,metaKey"
  "nuclide-flow":
    pathToFlow: "/Users/jared/fl/node_modules/.bin/flow"
  "nuclide-home":
    showHome: false
"spell-check":
  addKnownWords: true
  knownWords: [
    "believeth"
    "honour"
    "honouring"
    "offence"
    "dishonours"
    "abideth"
    "neighbours"
    "practise"
    "laboured"
    "behaviour"
    "favourer"
    "defence"
    "neighbour"
    "pretence"
    "sceptre"
    "labouring"
    "clamour"
    "favour"
    "overcometh"
    "savour"
    "Saviour"
    "standeth"
    "bruiseth"
    "dishonour"
    "travelling"
    "savoury"
    "beareth"
    "fulfils"
    "unsanctified"
    "unsavoury"
    "teacheth"
    "labourer"
    "endeavouring"
    "Gracechurch"
    "endeavours"
    "unwatchfulness"
    "endeavour"
    "commandeth"
    "endureth"
    "envieth"
    "soweth"
    "careth"
    "resteth"
    "doeth"
    "worketh"
    "hateth"
    "gavest"
    "edifieth"
    "reconcileth"
    "thereaway"
    "exhorteth"
    "showeth"
    "ruleth"
    "lieth"
    "speaketh"
    "receiveth"
    "falleth"
    "worshippeth"
    "cleanseth"
    "resisteth"
    "practised"
    "gathereth"
    "endeavoured"
    "janglings"
    "disputings"
    "savoured"
    "labours"
    "becometh"
    "succourer"
    "destroyeth"
    "fulfilleth"
    "knoweth"
    "sawest"
    "calleth"
    "sufferest"
    "saidst"
    "stilleth"
    "maketh"
    "crowneth"
    "thinketh"
    "changeth"
    "filleth"
    "reigneth"
    "eateth"
    "drinketh"
    "dwelleth"
    "sepulchres"
    "poureth"
    "killest"
    "stonest"
    "searcheth"
    "repenteth"
    "climbeth"
    "entereth"
    "remaineth"
    "loveth"
    "presseth"
    "openeth"
    "heareth"
    "Believest"
    "dieth"
    "persecutest"
    "setteth"
    "Barbadoes"
    "neighbourhood"
    "bringeth"
    "killeth"
    "armour"
    "followeth"
    "lighteth"
    "speakest"
    "honoured"
    "Burrough"
    "Hubberthorn"
    "appeareth"
    "labourers"
    "quickeneth"
    "profiteth"
    "favoured"
    "demeanour"
    "favourable"
    "offences"
    "favours"
    "seest"
    "knowest"
    "marvellous"
    "renewings"
    "convincement"
    "visitest"
    "Balaam"
    "coloured"
    "viz"
    "colour"
    "wilful"
    "renewedly"
    "seemeth"
    "descendings"
    "neighbouring"
    "travellers"
    "parlour"
    "shutteth"
    "colours"
    "extendings"
    "hereaway"
    "givest"
    "splendour"
    "fulfil"
    "burneth"
    "comforteth"
    "seeketh"
    "laboureth"
    "languisheth"
    "fainteth"
    "preferreth"
    "prayeth"
    "callest"
    "unfavourable"
    "lustre"
    "requirings"
    "judgeth"
    "kindleth"
    "enableth"
    "meaneth"
    "apostacy"
    "aboundings"
    "regardest"
    "doubtings"
    "unslumbering"
    "putteth"
    "harbour"
    "looketh"
    "faileth"
    "delighteth"
    "turneth"
    "unremitted"
    "provings"
    "consisteth"
    "possesseth"
    "puttings"
    "honours"
    "abasedness"
    "besetments"
    "honourable"
    "groweth"
    "unfoldings"
    "shouldst"
    "neighbourhoods"
    "leadeth"
    "Seekest"
    "flowings"
    "waiteth"
    "continueth"
    "permitteth"
    "fervour"
    "neighbour's"
    "contrited"
    "dishonoured"
    "submittest"
    "resignest"
    "draweth"
    "bloweth"
    "listeth"
    "sitteth"
    "contriting"
    "conceivings"
    "begettings"
  ]
welcome:
  showOnStartup: false
